/****************************
* This is the CSS for the DST.
* Copy and paste this directly into the CSS textarea on obsidianportal.com
*****************************/

/*
  Font imports
*/
@import url(http://fonts.googleapis.com/css?family=Krona+One);
@import url(http://fonts.googleapis.com/css?family=Armata);

/*
  Structural elements
*/

.ds_mrtact_fireflyrpg {
  font-family: 'Armata', sans-serif;
  font-weight: 400;
  margin-right: 8px;
}

.ds_mrtact_fireflyrpg h3 {
  font-family: 'Krona One', sans-serif;
  font-weight: bold;
  color: white;
  background-color: darkslategray;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 2px 0px 2px 8px;
  margin-bottom: 0.5em;
}

.ds_mrtact_fireflyrpg .section {
  clear: left;
}

.stat_name {
  float: left;
  width: 8em;
}

.three_col {
    display: flex;
    display: -webkit-flex;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    padding: 0 8px;
}

.three_col div {
    width: 32.3%;
    border-bottom: 1px solid black;
    padding-top: 1em;
    margin-right: 8px;
}

.statbox {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

/*
  Attributes
*/

.firefly_attributes {
    height: 3em;
    width: 100%;
}

.ds_mrtact_fireflyrpg .attribute {
  float: left;
  padding-top: .5em;
  margin-bottom: 1em;
}

/*
  Skills
*/

.firefly_skills {
    height: 19em;
    width: 100%;
}

.dice_value {
  font-family: 'Krona One', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  width: 2em;
  text-align: center;
  float: left;
  padding-right: .3em;
  margin-top: -6px;
}

.skill_specialty {
    font-size: small;
    font-style: italic;
    color: maroon;
}

/*
    Distinctions
*/

.firefly_distinctions div {
    padding-left: 8px;
}

.firefly_distinctions h4 {
    font-family: 'Krona One', sans-serif;
    font-size: larger;
    font-weight: bold;
    font-style: none;
    font-variant: small-caps;
    margin-bottom: 2px;
}

.firefly_distinction_lore {
    margin-top: 2px;
    margin-bottom: 0.5em;
    font-style: italic;
}

.firefly_distinction ul {
    list-style-type: none;
}

.firefly_distinction_skills {
    font-variant: small-caps;
}

